* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #b9b7b5a8;
  overflow-y: hidden;
}

input {
  font-family: "Montserrat", sans-serif;
}

main.main__content {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  display: grid;
  grid-template-columns: auto 1fr;
  border-radius: .3rem;
}

aside.sidebar {
  width: 300px;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  background-color: #F2EAE1;
}

.sidebar__text {
  font-size: 20px;
  padding-left: 8px;
  border-left: 4px solid #E042F8;
  text-shadow: 0 0 4px #E042F8;
}

.sidebar__user {
  display: grid;
  place-items: center;
  gap: 1rem;
}

.user__info {
  display: flex;
  flex-direction: column;
  gap: .7rem;
  text-align: center;
}

.user__info--role {
  font-size: 14px;
  color: #B600FE;
}

.sidebar__user img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
  mix-blend-mode: luminosity;
}

.sidebar__nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sidebar__nav a {
  text-decoration: none;
  font-size: 14px;
  color: #000;
  display: flex;
  align-items: center;
  gap: .6rem;
  padding: 10px 40px;
  border-radius: .4rem;

  transition: 500ms ease;
}

.sidebar__nav a:hover {
  color: #fff;
  background-color: #6A00FE;
}

.sidebar__logout {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 10px 40px;
  cursor: pointer;
}

.sidebar__logout--text {
  font-size: 14px;
  font-weight: 400;
}

.sidebar i {
  font-size: 16px;
}

/* Dashboard Styles */
.dashboard {  
  border: 1px solid rgba(0, 0, 0, .1);
  background-color: #f7f7f7;
}

.divMessage {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

/* Dashboard Users */

/* Div Search */
.divSearch {
  display: flex;
  background-color: #fff;
  padding: 15px 25px;
  justify-content: space-between;
  align-items: center;
}

.divSearch i {
  font-size: 20px;
  cursor: pointer;
}

.container__search {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.search__input {
  display: flex;
  align-items: center;
}

.search__input input {
  padding: 9.5px;
  border: 1px solid rgba(0, 0, 0, .2);
  border-right: none;
}

.search__input i {
  padding: 10px;
  font-size: 15px;
  border: 1px solid rgba(0, 0, 0, .2);
}

/* Div Add User */
.divAddUser {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.container__addUser {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.container__addUser i {
  color: #6A00FE;
}

.btn__addUser {
  color: #fff;
  display: inline-block;
  padding: 15px 25px;
  background-color: #6A00FE;
  border-radius: .3rem;
  border: none;
  cursor: pointer;
}

/* Div Users */
.divContainerUsers {
  height: 600px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y: auto;
  padding: 10px 25px;
}

.divUser {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  background-color: #fff;
  border-radius: .4rem;
  gap: 1.5rem;
}

.divUserMessage {
  font-size: 22px;
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user__name {
  display: flex;
  align-items: center;
  gap: 1.3rem;
}

.user__name--text {
  font-size: 14px;
}

.user__name img {
  width: 50px;
  height: 50px;
  border-radius: .4rem;
  object-fit: cover;
} 

.user__info--info {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.user__info--info p {
  font-size: 14px;
}

.user__btns {
  display: flex;
  gap: 1rem;
}

.user__btns i {
  color: #6A00FE;
  cursor: pointer;
}

/* Modal Styles */
.modal {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .9);
  transform: translateY(-100%);
  transition: 500ms ease;
}

.modal.active,
.modal__modify.active {
  transform: translateY(0);
}

.modal__content, .modal__modify--content {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-auto-rows: auto;
}

.modal__content .sidebar,
.modal__modify .sidebar {
  padding: 50px 10px;
}

.modal__content .sidebar__text,
.modal__modify .sidebar__text {
  opacity: 0;
  pointer-events: none;
  user-select: none;
}

section.add__user {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='119' height='119' viewBox='0 0 100 100'%3E%3Cg stroke='%23CCC' stroke-width='0' %3E%3Crect fill='%23F1ECE7' x='-60' y='-60' width='125' height='240'/%3E%3C/g%3E%3C/svg%3E");
  background-position: center;
}

.add__user--content {
  display: grid;
  gap: 2rem;
  padding: 30px;
}

.add__user--content i {
  font-size: 30px;
  cursor: pointer;
}

.add__user--form, 
.modal__modify #form__modify--user {
  padding: 20px 30px;
  background-color: #fff;
  display: grid;
  gap: 2rem;
  place-items: center;
}

.add__user--form .form__group,
.modal__modify #form__modify--user .form__group {
  display: flex;
  flex-direction: column;
  gap: .4rem;
  width: 100%;
}

.form__group input {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: .3rem;
  transition: 500ms ease;
}

.form__group input:focus {
  border: 1px solid #6A00FE;
  outline: none;
}

.add__user--form img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.form__btns {
  width: 100%;
  display: flex;
  gap: 1rem;
}

.form__btns > * {
  flex: 1;
  padding: 15px 25px;
  border: none;
  border-radius: .3rem;
  cursor: pointer;
}

.form__btns #input__submit {
  color: #fff;
  background-color: #6A00FE;
}

.audio__daga--adicta {
  position: absolute;
  top: -100%;
  opacity: 0;
}

.bx-bell {
  cursor: pointer;
}

/* Modal Modify User */
.modal__modify {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .9);
  transform: translateY(100%);
  transition: 500ms ease;
}

.modal__modify #form__modify--user {
  width: 350px;
}
